#articles {
  width: 90%;
  margin: 0 auto;

  #articles-page-title {
    font-size: 2rem;
    font-weight: bold;
    color: var(--color2);
    margin: 50px auto;
    text-align: center;
  }

  #articles-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    #article-card-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto 50px auto;
      @media (min-width: 1023px) {
        width: 65%;
        padding: 0 10px;
        box-sizing: border-box;
      }
      .article-card {
        width: 100%;
        border-bottom: 0.2px solid var(--color2);
        padding: 30px 0;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;

        .article-title {
          font-size: 1.5rem;
          font-weight: bold;
          margin-bottom: 0.5rem;
          color: var(--color2);
          a {
            text-decoration: none;
            color: var(--color2);
            &:hover {
              color: var(--color-hover);
            }
          }
        }

        .article-metadata-container {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 8px;

          .article-tags-container {
            display: flex;
            flex-direction: row;
            gap: 8px;
            .tag {
              font-size: 1rem;
              font-weight: bold;
              color: var(--color);
            }
          }
          .article-posted-at {
            display: flex;
            align-items: center;
            font-size: 1rem;
            font-weight: bold;
            color: var(--color);
            gap: 4px;
            i {
              width: 1rem;
              height: 1rem;
            }
          }
        }

        .article-description {
          font-size: 1rem;
          color: var(--color);
          line-height: 1.5rem;
          margin: 20px 0;
        }

        .article-read-more-container {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;

          .article-read-more {
            font-size: 1rem;
            font-weight: bold;
            color: var(--color2);
            text-decoration: none;
            cursor: pointer;
            &:hover {
              color: var(--color-hover);
            }
          }
        }
      }
    }

    #articles-taxonomy-container {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 36px;
      margin-bottom: 20px;
      @media (min-width: 1023px) {
        width: 25%;
        padding: 0 10px;
        box-sizing: border-box;
      }
      .articles-taxonomy-title {
        width: 100%;
        font-size: 1.4rem;
        font-weight: bold;
        color: var(--color2);
        text-align: center;
        margin: 10px 0;
      }

      #articles-taxonomy-inner {
        width: 100%;
        display: flex;
        flex-direction: column;
        @media (min-width: 1023px) {
          align-items: center;
          justify-content: flex-start;
        }

        .articles-tags {
          width: 100%;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          gap: 12px;
          .tag {
            font-weight: bold;
          }
        }
        .articles-categories {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          gap: 12px;
          .category {
            font-weight: bold;
          }
        }
      }
    }
  }
}
