{{ define "main" }}
<div id="site-main-content-wrapper">
    <main>
        <div id="about-me">
            <h1 id="about-me-page-title">About me</h1>
            <img src="/images/ryota.png" alt="profile" id="about-me-profile-image" />
            <div id="about-me-content">
                <div class="about-me-component">
                    <p id="about-me-intro">{{ i18n "about_me_greeting" }}</p>
                    <h1 class="about-me-title">Skills</h1>
                    <h2 class="about-me-sub-title">Languages</h2>
                    <ul>
                        <li>Go</li>
                        <li>JavaScript / TypeScript</li>
                        <li>Python</li>
                        <li>Ruby</li>
                    </ul>
                    <h2 class="about-me-sub-title">Frameworks</h2>
                    <ul>
                        <li>Echo(Go)</li>
                        <li>Next.js(TypeScript)</li>
                        <li>Ruby on Rails(Ruby)</li>
                        <li>Flask(Python)</li>
                        <li>Others</li>
                    </ul>
                    <h2 class="about-me-sub-title">Infra/Cloud</h2>
                    <ul>
                        <li>Docker</li>
                        <li>Github Actions</li>
                        <li>CircleCI</li>
                        <li>Terraform</li>
                        <li>
                            AWS
                            <ul>
                                <li>
                                    VPC, EC2, ECS, Lambda, S3, CloudFront, CloudWatch, Cloud Formation, etc...
                                </li>
                            </ul>
                        </li>
                        <li>
                            Google Cloud
                            <ul>
                                <li>
                                    Cloud Storage, Cloud Functions, Cloud Run, Compute Engine, etc...
                                </li>
                            </ul>  
                        </li>
                        <li>Others</li>
                    </ul>
                    <h2 class="about-me-sub-title">Others</h2>
                     <ul>
                        <li>Neovim</li>
                        <li>Hasura</li>
                        <li>GraphQL</li>
                        <li>PostgreSQL</li>
                    </ul>
                </div>
                <div class="about-me-component">
                    <h1 class="about-me-title">Quolifications</h1>
                    <ul>
                        <li></li>
                    </ul>
                </div>
                <div class="about-me-component">
                    <h1 class="about-me-title">SNS</h1>
                    <div class="about-me-sns">
                        <ul>
                            <li><a href="https://github.com/Ryota-Onuma">GitHub</a></li>
                            <li><a href="https://twitter.com/oryataoryata">X</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
{{ end }}
