{{ define "main" }}
<div id="site-main-content-wrapper">
    <main>
        <div id="articles">
            <h1 id="articles-page-title">
                {{ i18n "articles_title" }}
            </h1>
            <div id="articles-content">
                <div id="article-card-container">
                    {{ $urlPrefix := "" }}
                    {{ if eq .Site.Language.Lang "en" }}
                        {{ $urlPrefix = "/en" }}
                    {{ end }}
                    {{ range .Pages }}
                        <div class="article-card">
                            <h1 class="article-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
                            <div class="article-metadata-container">
                                <div class="article-posted-at">
                                    <i class="icon icon-calendar"></i><span>{{.Date.Format "2006 01/02" }}</span>
                                </div>
                                <div class="article-tags-container">
                                    {{ range .Params.tags }}
                                        <a href="{{ $urlPrefix }}{{ "/tags/" | relURL }}{{ . | urlize }}" class="tag">#{{ . | urlize}}</a>
                                    {{ end }}
                                </div>
                            </div>
                            <p class="article-description">{{ .Params.description | truncate 90}}</p>
                            <div class="article-read-more-container">
                                <a href="{{ .Permalink }}" class="article-read-more">Read More »</a>
                            </div>
                        </div>
                    {{ end }}
                </div>
                <div id="articles-taxonomy-container">
                    {{ $urlPrefix := "" }}
                    {{ if eq .Site.Language.Lang "en" }}
                        {{ $urlPrefix = "/en" }}
                    {{ end }}
                    <div id="articles-taxonomy-inner">
                        <h2 class="articles-taxonomy-title">{{ i18n "categories_title" }}</h2>
                        <div class="articles-categories">
                            {{- $categories := partial "functions/all_categories" .Site.Pages }}
                            {{- range $category, $count := $categories }}
                                <span class="category"><a href="{{ $urlPrefix }}{{ "/categories/" | relURL }}{{ $category | urlize }}">{{ $category | urlize}} ({{ $count }})</a></span>
                            {{- end }}
                        </div>
                    </div>
                    <div id="articles-taxonomy-inner">
                        <h2 class="articles-taxonomy-title">{{ i18n "tags_title" }}</h2>
                        <div class="articles-tags">
                            {{- $tags := partial "functions/all_tags" .Site.Pages }}
                            {{- range $tag, $count := $tags }}
                                <span class="tag">#<a href="{{ $urlPrefix }}{{ "/tags/" | relURL }}{{ $tag | urlize }}">{{ $tag | urlize}} ({{ $count }})</a></span>
                            {{- end }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
{{ end }}