{{ define "main" }}
{{ $urlPrefix := "" }}
{{ if eq .Site.Language.Lang "en" }}
    {{ $urlPrefix = "/en" }}
{{ end }}
<div id="site-main-content-wrapper">
    <main>
        {{ if or (eq .Page.RelPermalink  (printf "%s/categories/" $urlPrefix ))}}
            <div id="lists">
                <h1 id="lists-page-title">
                    {{ i18n "categories_title" }}
                </h1>
                <div id="lists-content">
                    {{- $categories := partial "functions/all_categories" .Site.Pages }}
                    {{- range $category, $count := $categories }}
                        <span class="category"><a href="{{ $urlPrefix }}{{ "/categories/" | relURL }}{{ $category | urlize }}">{{ $category }} ({{ $count }})</a></span>
                    {{- end }}
                </div>
            </div>
        {{ else if or (eq .Page.RelPermalink (printf "%s/tags/" $urlPrefix ))}}
            <div id="lists">
                <h1 id="lists-page-title">
                    {{ i18n "tags_title" }}
                </h1>
                <div id="lists-content">
                    {{- $tags := partial "functions/all_tags" .Site.Pages }}
                    {{- range $tag, $count := $tags }}
                        <a href="{{ $urlPrefix }}{{ "/tags/" | relURL }}{{ (replace ( (lower $tag) | urlize ) " " "-") }}" class="tag">#{{ $tag }} ({{ $count }})</a>
                    {{- end }}
                </div>
            </div>
            
        {{ else }}
            <div id="articles">
                <h1 id="articles-page-title">
                    <!-- パスに/categoriesが含まれているか-->
                    {{ if in .Permalink "/categories" }}
                        {{ .Title }}
                    <!-- パスに/tagsが含まれているか-->
                    {{ else if in .Permalink "/tags" }}
                        #{{ .Title }}
                    {{ end }}
                </h1>
            
                <div id="articles-content">
                    <div id="article-card-container">
                        {{ range .Pages }}
                            {{ partial "articles/card" . }}
                        {{ end }}
                    </div>

                    <div id="articles-taxonomy-container">
                        {{ partial "articles/taxonomy" . }}
                    </div>
                </div>
            </div>
        {{ end }}
    </main>
</div>
{{ end }}
