{{ define "main" }}
<h1 id="terms-page-title">
    <!-- {{ if eq .Title "Tags"}} -->
        {{ i18n "tags_title" }}
    <!-- {{ else if eq .Title "Categories"}} -->
        {{ i18n "categories_title" }}
    <!-- {{ end }} -->
</h1>
<div id="site-main-content-wrapper">
    <main>
        {{ $urlPrefix := "" }}
        {{ if eq .Site.Language.Lang "en" }}
            {{ $urlPrefix = "/en" }}
        {{ end }}
        <!-- {{ if eq .Title "Tags"}} -->
            <div class="tags-container">
                {{ range .Site.Taxonomies.tags.ByCount }}
                <span class="tag">#<a href="{{ $urlPrefix }}{{ "/tags/" | relURL }}{{ .Name | urlize }}">{{ .Name }}({{ .Count }})</a></span>
                {{ end }}
            </div>
        <!-- {{ else if eq .Title "Categories"}} -->
            <div class="categories-container">
                {{ range .Site.Taxonomies.categories.ByCount }}
                <span class="category"><a href="{{ $urlPrefix }}{{ "/categories/" | relURL }}{{ .Name | urlize }}">{{ .Name }} ({{ .Count }})</a></span>
                {{ end }}
            </div>
        <!-- {{ end }} -->
    </main>
</div>
{{ end }}
