#toc {
  padding-top: 40px;

  strong {
    font-weight: 600;
    padding: 7px 10px 7px 0;
    display: flex;
    gap: 3px;
    position: relative;
    left: -3px;
    color: var(--color2);
  }

  ul {
    margin-left: 0.3em;
    border-left: 1px solid var(--border-color);
    ul {
      margin-left: 1em;
    }
    a {
      display: inline-block;
      padding: 7px;
      color: var(--color3);
      &.active,
      &:hover {
        color: var(--color-hover);
        font-weight: 600;
        font-size: 98%;
        ::before {
          background: var(--color-hover);
        }
      }
      &::before {
        content: '';
        display: inline-block;
        width: 6px;
        height: 6px;
        background: var(--border-color);
        position: relative;
        left: -10.5px;
        top: -3px;
      }
    }
  }
  position: relative;
  .sticky {
    position: fixed;
    right: 0px;
    width: 20%;
    strong {
      display: flex;
      align-items: flex-end;
    }
  }
}

@media (max-width: 1023px) {
  #toc {
    display: none;
  }
}

@media (min-width: 1023px) {
  #toc {
    width: 100%;
    display: block;
  }
}
